<nz-page-header>
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>
      Recipes
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a>View Recipes</a>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header-title>View Recipes</nz-page-header-title>
  <nz-page-header-extra>
    <button nz-button nzType="danger" [disabled]="selections.length === 0" (click)="confirm()">Delete Selected</button>
    <button nz-button (click)="importRecipes()">Import Recipe</button>
    <button nz-button nzType="primary" (click)="refresh()">Refresh</button>
  </nz-page-header-extra>
</nz-page-header>

<div class="wrapper">
  <nz-table
    #recipeTable
    nzSize="small"
    [nzLoading]="loading"
    [nzBordered]="true"
    [nzShowPagination]="true"
    [nzData]="recipes$ | async"
    [nzLoadingIndicator]="spinner"
  >
    <thead>
      <tr>
        <th
          nzShowCheckbox
          [(nzChecked)]="isAllDisplayDataChecked"
          [nzIndeterminate]="isIndeterminate"
          (nzCheckedChange)="checkAll($event,recipeTable.data)"
        ></th>
        <th>Recipe Name</th>
        <th>Style</th>
        <th>Type</th>
        <th>Estimated ABV</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let recipe of recipeTable.data">
        <td
          nzShowCheckbox
          [(nzChecked)]="mapOfCheckedId[recipe.id]"
          (nzCheckedChange)="check($event,recipe)"
        ></td>
        <td><a (click)="viewRecipe(recipe)">{{ recipe.name }}</a></td>
        <td>{{ recipe.style }}</td>
        <td>{{ recipe.type }}</td>
        <td>{{ recipe.estimatedAbv }}</td>
    </tr>
    </tbody>
  </nz-table>
  <ng-template #spinner>
    <nz-spin nzSimple></nz-spin>
  </ng-template>
</div>
