<button nz-button (click)="addMeasurement()" nzType="primary">Add</button>
<br />
<br />
<nz-table nzTemplateMode nzBordered [formGroup]="parentForm">
  <thead>
  <tr>
    <th>Action</th>
    <th>Date</th>
    <th>Gravity Reading</th>
  </tr>
  </thead>
  <tbody formArrayName="measurements">
    <tr *ngFor="let measurement of measurements.controls; let i=index" >
      <ng-container [formGroupName]="i">
        <td>
          <a nz-popconfirm nzPopconfirmTitle="Confirm delete?" (nzOnConfirm)="deleteMeasurement(i)" [nzIcon]="iconTpl">Delete</a>
          <ng-template #iconTpl>
            <i nz-icon nzType="question-circle-o" style="color: red;"></i>
          </ng-template>
        </td>
      </ng-container>
      <ng-container [formGroupName]="i">
        <td>
          <nz-form-item>
            <nz-form-control [nzErrorTip]="measurementDateErrorTpl">
              <nz-date-picker [nzFormat]="dateFormat" formControlName="measurementDate"></nz-date-picker>
              <ng-template #measurementDateErrorTpl>
                <div *ngFor="let errorMessage of validationMessages(i,'measurementDate')">
                  {{errorMessage}}
                </div>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </td>
      </ng-container>
      <ng-container [formGroupName]="i">
        <td>
          <nz-form-item>
            <nz-form-control [nzErrorTip]="valueErrorTpl">
              <nz-input-number formControlName="value" type="number"></nz-input-number>
              <ng-template #valueErrorTpl>
                <div *ngFor="let errorMessage of validationMessages(i,'value')">
                  {{errorMessage}}
                </div>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </td>
      </ng-container>
    </tr>
  </tbody>
</nz-table>
