<div>
  <nz-page-header>
    <nz-breadcrumb nz-page-header-breadcrumb>
      <nz-breadcrumb-item>
        User
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a>Update Password</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
    <nz-page-header-title>Update Password for user: {{username$ | async}}</nz-page-header-title>
    <nz-page-header-extra>
      <button nz-button (click)="update()" [disabled]="!form.dirty  || !form.valid || (saving$ | async)" [nzLoading]="saving$ | async">Update Password</button>
      <button nz-button (click)="reset()" [disabled]="!form.dirty  || !form.valid || (saving$ | async)" >Reset</button>
    </nz-page-header-extra>
  </nz-page-header>

  <div class="wrapper">
    <nz-card [nzBordered]="false" nzTitle="Update Password">
      <form nz-form [formGroup]="form" novalidate>
        <!-- Current Password -->
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="currentPassword" nzRequired>Current Password</nz-form-label>
          <nz-form-control  [nzSm]="14" [nzXs]="24" [nzErrorTip]="currentPasswordErrorTpl">
            <input nz-input formControlName="currentPassword" id="CurrentPassword" type="password"/>
            <ng-template #currentPasswordErrorTpl>
              <div *ngFor="let errorMessage of fc.currentPassword['errorMessages']">
                {{errorMessage}}<br/>
              </div>
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <!-- New Password -->
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="newPassword" nzRequired>New Password</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="newPasswordErrorTpl">
            <input nz-input formControlName="newPassword" id="newPassword" type="password"/>
            <ng-template #newPasswordErrorTpl>
              <div *ngFor="let errorMessage of fc.newPassword['errorMessages']">
                {{errorMessage}}<br/>
              </div>
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <!-- Confirm Password -->
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="confirmPassword" nzRequired>Confirm Password</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="confirmErrorTpl">
            <input nz-input formControlName="confirmPassword" id="confirmPassword" type="password"/>
            <ng-template #confirmErrorTpl>
              <div *ngFor="let errorMessage of fc.confirmPassword['errorMessages']">
                {{errorMessage}}<br/>
              </div>
            </ng-template>
          </nz-form-control>
        </nz-form-item>

      </form>
    </nz-card>
  </div>

</div>
