srm_0-1 { color: rgb(250,250,210); }
srm_0-2 { color: rgb(250,250,204); }
srm_0-3 { color: rgb(250,250,199); }
srm_0-4 { color: rgb(250,250,193); }
srm_0-5 { color: rgb(250,250,188); }
srm_0-6 { color: rgb(250,250,182); }
srm_0-7 { color: rgb(250,250,177); }
srm_0-8 { color: rgb(250,250,171); }
srm_0-9 { color: rgb(250,250,166); }
srm_1-0 { color: rgb(250,250,160); }
srm_1-1 { color: rgb(250,250,155); }
srm_1-2 { color: rgb(250,250,149); }
srm_1-3 { color: rgb(250,250,144); }
srm_1-4 { color: rgb(250,250,138); }
srm_1-5 { color: rgb(250,250,133); }
srm_1-6 { color: rgb(250,250,127); }
srm_1-7 { color: rgb(250,250,122); }
srm_1-8 { color: rgb(250,250,116); }
srm_1-9 { color: rgb(250,250,111); }
srm_2-0 { color: rgb(250, 250 ,105); }
srm_2-1 { color: rgb(250,250,100); }
srm_2-2 { color: rgb(250,250,94); }
srm_2-3 { color: rgb(250,250,89); }
srm_2-4 { color: rgb(250,250,83); }
srm_2-5 { color: rgb(250,250,78); }
srm_2-6 { color: rgb(249,250,72); }
srm_2-7 { color: rgb(248,249, 67); }
srm_2-8 { color: rgb(247 ,248 ,61); }
srm_2-9 { color: rgb(246, 247 ,56); }
srm_3-0 { color: rgb(245, 246 ,50); }
srm_3-1 { color: rgb(244 ,245 ,45); }
srm_3-2 { color: rgb(243,244, 45); }
srm_3-3 { color: rgb(242,242,45); }
srm_3-4 { color: rgb(241, 240, 46); }
srm_3-5 { color: rgb(240, 238, 46); }
srm_3-6 { color: rgb(239 ,236, 46); }
srm_3-7 { color: rgb(238, 234, 46); }
srm_3-8 { color: rgb(237, 232, 47); }
srm_3-9 { color: rgb(236, 230, 47); }
srm_4-0 { color: rgb(235,228,47); }
srm_4-1 { color: rgb(234,226,47); }
srm_4-2 { color: rgb(233,224,48); }
srm_4-3 { color: rgb(232,222,48); }
srm_4-4 { color: rgb(231,220,48); }
srm_4-5 { color: rgb(230,218,48); }
srm_4-6 { color: rgb(229,216,49); }
srm_4-7 { color: rgb(228,214,49); }
srm_4-8 { color: rgb(227,212,49); }
srm_4-9 { color: rgb(226,210,49); }
srm_5-0 { color: rgb(225,208,50); }
srm_5-1 { color: rgb(224,206,50); }
srm_5-2 { color: rgb(223,204,50); }
srm_5-4 { color: rgb(221,200,51); }
srm_5-5 { color: rgb(220,198,51); }
srm_5-6 { color: rgb(219,196,51); }
srm_5-7 { color: rgb(218,194,51); }
srm_5-8 { color: rgb(217,192,52); }
srm_5-9 { color: rgb(216,190,52); }
srm_6-0 { color: rgb(215,188,52); }
srm_6-1 { color: rgb(214,186,52); }
srm_6-2 { color: rgb(213,184,53); }
srm_6-3 { color: rgb(212,182,53); }
srm_6-4 { color: rgb(211,180,53); }
srm_6-5 { color: rgb(210,178,53); }
srm_6-6 { color: rgb(209,176,54); }
srm_6-7 { color: rgb(208,174,54); }
srm_6-8 { color: rgb(207,172,54); }
srm_6-9 { color: rgb(206,170,54); }
srm_7-0 { color: rgb(205,168,55); }
srm_7-1 { color: rgb(204,166,55); }
srm_7-2 { color: rgb(203,164,55); }
srm_7-3 { color: rgb(202,162,55); }
srm_7-4 { color: rgb(201,160,56); }
srm_7-5 { color: rgb(200,158,56); }
srm_7-6 { color: rgb(200,156,56); }
srm_7-7 { color: rgb(199,154,56); }
srm_7-8 { color: rgb(199,152,56); }
srm_7-9 { color: rgb(198,150,56); }
srm_8-0 { color: rgb(198,148,56); }
srm_8-1 { color: rgb(197,146,56); }
srm_8-2 { color: rgb(197,144,56); }
srm_8-3 { color: rgb(196,142,56); }
srm_8-4 { color: rgb(196,141,56); }
srm_8-5 { color: rgb(195,140,56); }
srm_8-6 { color: rgb(195,139,56); }
srm_8-7 { color: rgb(194,139,56); }
srm_8-8 { color: rgb(194,138,56); }
srm_8-9 { color: rgb(193,137,56); }
srm_9-0{ color: rgb(193,136,56); }
srm_9-1 { color: rgb(192,136,56); }
srm_9-2 { color: rgb(192,135,56); }
srm_9-3 { color: rgb(192,134,56); }
srm_9-4 { color: rgb(192,133,56); }
srm_9-5 { color: rgb(192,133,56); }
srm_9-6 { color: rgb(192,132,56); }
srm_9-7 { color: rgb(192,131,56); }
srm_9-8 { color: rgb(192,130,56); }
srm_9-9 { color: rgb(192,130,56); }
srm_10-0 { color: rgb(192,129,56); }
srm_10-1 { color: rgb(192,128,56); }
srm_10-2 { color: rgb(192,127,56); }
srm_10-3 { color: rgb(192,127,56); }
srm_10-4 { color: rgb(192,126,56); }
srm_10-5 { color: rgb(192,125,56); }
srm_10-6 { color: rgb(192,124,56); }
srm_10-7 { color: rgb(192,124,56); }
srm_10-8 { color: rgb(192,123,56); }
srm_10-9 { color: rgb(192,122,56); }
srm_11-0 { color: rgb(192,121,56); }
srm_11-1 { color: rgb(192,121,56); }
srm_11-2 { color: rgb(192,120,56); }
srm_11-3 { color: rgb(192,119,56); }
srm_11-4 { color: rgb(192,118,56); }
srm_11-5 { color: rgb(192,118,56); }
srm_11-6 { color: rgb(192,117,56); }
srm_11-7 { color: rgb(192,116,56); }
srm_11-8 { color: rgb(192,115,56); }
srm_11-9 { color: rgb(192,115,56); }
srm_12-0 { color: rgb(192,114,56); }
srm_12-1 { color: rgb(192,113,56); }
srm_12-2 { color: rgb(192,112,56); }
srm_12-3 { color: rgb(192,112,56); }
srm_12-4 { color: rgb(192,111,56); }
srm_12-5 { color: rgb(192,110,56); }
srm_12-6 { color: rgb(192,109,56); }
srm_12-7 { color: rgb(192,109,56); }
srm_12-8 { color: rgb(192,108,56); }
srm_12-9 { color: rgb(191,107,56); }
srm_13-0 { color: rgb(190,106,56); }
srm_13-1 { color: rgb(189,106,56); }
srm_13-2 { color: rgb(188,105,56); }
srm_13-3 { color: rgb(187,104,56); }
srm_13-4 { color: rgb(186,103,56); }
srm_13-5 { color: rgb(185,103,56); }
srm_13-6 { color: rgb(184,102,56); }
srm_13-7 { color: rgb(183,101,56); }
srm_13-8 { color: rgb(182,100,56); }
srm_13-9 { color: rgb(181,100,56); }
srm_14-0 { color: rgb(180,99,56); }
srm_14-1 { color: rgb(179,98,56); }
srm_14-2 { color: rgb(178,97,56); }
srm_14-3 { color: rgb(177,97,56); }
srm_14-4 { color: rgb(175,96,55); }
srm_14-5 { color: rgb(174,95,55); }
srm_14-6 { color: rgb(172,94,55); }
srm_14-7 { color: rgb(171,94,55); }
srm_14-8 { color: rgb(169,93,54); }
srm_14-9 { color: rgb(168,92,54); }
srm_15-0 { color: rgb(167,91,54); }
srm_15-1 { color: rgb(165,91,54); }
srm_15-2 { color: rgb(164,90,53); }
srm_15-3 { color: rgb(162,89,53); }
srm_15-4 { color: rgb(161,88,53); }
srm_15-5 { color: rgb(159,88,53); }
srm_15-6 { color: rgb(158,87,52); }
srm_15-7 { color: rgb(157,86,52); }
srm_15-8 { color: rgb(155,85,52); }
srm_15-9 { color: rgb(154,85,52); }
srm_16-0 { color: rgb(152,84,51); }
srm_16-1 { color: rgb(151,83,51); }
srm_16-2 { color: rgb(149,82,51); }
srm_16-3 { color: rgb(148,82,51); }
srm_16-4 { color: rgb(147,81,50); }
srm_16-5 { color: rgb(145,80,50); }
srm_16-6 { color: rgb(144,79,50); }
srm_16-7 { color: rgb(142,78,50); }
srm_16-8 { color: rgb(141,77,49); }
srm_16-9 { color: rgb(139,76,49); }
srm_17-0 { color: rgb(138,75,48); }
srm_17-1 { color: rgb(137,75,47); }
srm_17-2 { color: rgb(135,74,47); }
srm_17-3 { color: rgb(134,73,46); }
srm_17-4 { color: rgb(132,72,45); }
srm_17-5 { color: rgb(131,72,45); }
srm_17-6 { color: rgb(129,71,44); }
srm_17-7 { color: rgb(128,70,43); }
srm_17-8 { color: rgb(127,69,43); }
srm_srm_17-9 { color: rgb(125,69,42); }
srm_18-0 { color: rgb(124,68,41); }
srm_18-1 { color: rgb(122,67,41); }
srm_18-2 { color: rgb(121,66,40); }
srm_18-3 { color: rgb(119,66,39); }
srm_18-4 { color: rgb(118,65,39); }
srm_18-5 { color: rgb(117,64,38); }
srm_18-6 { color: rgb(115,63,37); }
srm_18-7 { color: rgb(114,63,37); }
srm_18-8 { color: rgb(112,62,36); }
srm_18-9 { color: rgb(111,61,35); }
srm_19-0 { color: rgb(109,60,34); }
srm_19-1 { color: rgb(108,60,33); }
srm_19-2 { color: rgb(107,59,32); }
srm_19-3 { color: rgb(105,58,31); }
srm_19-4 { color: rgb(104,57,29); }
srm_19-5 { color: rgb(102,57,28); }
srm_19-6 { color: rgb(101,56,27); }
srm_19-7 { color: rgb(99,55,26); }
srm_19-8 { color: rgb(98,54,25); }
srm_19-9 { color: rgb(97,54,24); }
srm_20-0 { color: rgb(95,53,23); }
srm_20-1 { color: rgb(94,52,21); }
srm_20-2 { color: rgb(92,51,20); }
srm_20-3 { color: rgb(91,51,19); }
srm_20-4 { color: rgb(89,50,18); }
srm_20-5 { color: rgb(88,49,17); }
srm_20-6 { color: rgb(87,48,16); }
srm_20-7 { color: rgb(85,48,15); }
srm_20-8 { color: rgb(84,47,13); }
srm_20-9 { color: rgb(82,46,12); }
srm_21-0 { color: rgb(81,45,11); }
srm_21-1 { color: rgb(79,45,10); }
srm_21-2 { color: rgb(78,44,9); }
srm_21-3 { color: rgb(77,43,8); }
srm_21-4 { color: rgb(75,42,9); }
srm_21-5 { color: rgb(74,42,9); }
srm_21-6 { color: rgb(72,41,10); }
srm_21-7 { color: rgb(71,40,10); }
srm_21-8 { color: rgb(69,39,11); }
srm_21-9 { color: rgb(68,39,11); }
srm_22-0 { color: rgb(67,38,12); }
srm_22-1 { color: rgb(65,37,12); }
srm_22-2 { color: rgb(64,36,13); }
srm_22-3 { color: rgb(62,36,13); }
srm_22-4 { color: rgb(61,35,14); }
srm_22-5 { color: rgb(59,34,14); }
srm_22-6 { color: rgb(58,33,15); }
srm_22-7 { color: rgb(57,33,15); }
srm_22-8 { color: rgb(55,32,16); }
srm_22-9 { color: rgb(54,31,16); }
srm_23-0 { color: rgb(52,30,17); }
srm_23-1 { color: rgb(51,30,17); }
srm_23-2 { color: rgb(49,29,18); }
srm_23-3 { color: rgb(48,28,18); }
srm_23-4 { color: rgb(47,27,19); }
srm_23-5 { color: rgb(45,27,19); }
srm_23-6 { color: rgb(44,26,20); }
srm_23-7 { color: rgb(42,25,20); }
srm_23-8 { color: rgb(41,24,21); }
srm_23-9 { color: rgb(39,24,21); }
srm_24-0 { color: rgb(38,23,22); }
srm_24-1 { color: rgb(37,22,21); }
srm_24-2 { color: rgb(37,22,21); }
srm_24-3 { color: rgb(36,22,21); }
srm_24-4 { color: rgb(36,21,20); }
srm_24-5 { color: rgb(35,21,20); }
srm_24-6 { color: rgb(35,21,20); }
srm_24-7 { color: rgb(34,20,19); }
srm_24-8 { color: rgb(34,20,19); }
srm_24-9 { color: rgb(33,20,19); }
srm_25-0 { color: rgb(33,19,18); }
srm_25-1 { color: rgb(32,19,18); }
srm_25-2 { color: rgb(32,19,18); }
srm_25-3 { color: rgb(31,18,17); }
srm_25-4 { color: rgb(31,18,17); }
srm_25-5 { color: rgb(30,18,17); }
srm_25-6 { color: rgb(30,17,16); }
srm_25-7 { color: rgb(29,17,16); }
srm_25-8 { color: rgb(29,17,16); }
srm_25-9 { color: rgb(28,16,15); }
srm_26-0 { color: rgb(28,16,15); }
srm_26-1 { color: rgb(27,16,15); }
srm_26-2 { color: rgb(27,15,14); }
srm_26-3 { color: rgb(26,15,14); }
srm_26-4 { color: rgb(26,15,14); }
srm_26-5 { color: rgb(25,14,13); }
srm_26-6 { color: rgb(25,14,13); }
srm_26-7 { color: rgb(24,14,13); }
srm_26-8 { color: rgb(24,13,12); }
srm_26-9 { color: rgb(23,13,12); }
srm_27-0 { color: rgb(23,13,12); }
srm_27-1 { color: rgb(22,12,11); }
srm_27-2 { color: rgb(22,12,11); }
srm_27-3 { color: rgb(21,12,11); }
srm_27-4 { color: rgb(21,11,10); }
srm_27-5 { color: rgb(20,11,10); }
srm_27-6 { color: rgb(20,11,10); }
srm_27-7 { color: rgb(19,10,9); }
srm_27-8 { color: rgb(19,10,9); }
srm_27-9 { color: rgb(18,10,9); }
srm_28-0 { color: rgb(18,9,8); }
srm_28-1 { color: rgb(17,9,8); }
srm_28-2 { color: rgb(17,9,8); }
srm_28-3 { color: rgb(16,8,7); }
srm_28-4 { color: rgb(16,8,7); }
srm_28-5 { color: rgb(15,8,7); }
srm_28-6 { color: rgb(15,7,6); }
srm_28-7 { color: rgb(14,7,6); }
srm_28-8 { color: rgb(14,7,6); }
srm_28-9 { color: rgb(13,6,5); }
srm_29-0 { color: rgb(13,6,5); }
srm_29-1 { color: rgb(12,6,5); }
srm_29-2 { color: rgb(12,5,4); }
srm_29-3 { color: rgb(11,5,4); }
srm_29-4 { color: rgb(11,5,4); }
srm_29-5 { color: rgb(10,4,3); }
srm_29-6 { color: rgb(10,4,3); }
srm_29-7 { color: rgb(9,4,3); }
srm_29-8 { color: rgb(9,3,2); }
srm_29-9 { color: rgb(8,3,2); }
srm_30-0 { color: rgb(8,3,2); }