<div class="bg-image" style="height: 100vh;">
  <div style="height: 100%;" nz-row nzType="flex" nzJustify="center" nzAlign="middle">
    <div nz-col nzXs="1"  nzSm="2" nzMd="3" nzLg="5" nzXl="7"></div>
    <div nz-col nzXs="22" nzSm="20" nzMd="18" nzLg="14" nzXl="10">
      <nz-card [nzBordered]="false" nzTitle="Register for Brew Log">
        <form nz-form [formGroup]="form" novalidate>
          <!-- First Name -->
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="firstName" nzRequired>First Name</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="firstNameErrorTpl">
              <input nz-input formControlName="firstName" id="firstName" type="text"/>
              <ng-template #firstNameErrorTpl>
                <div *ngFor="let errorMessage of firstName['errorMessages']">
                  {{errorMessage}}<br/>
                </div>
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <!-- Surname -->
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="surname" nzRequired>Surname</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="surnameErrorTpl">
              <input nz-input formControlName="surname" id="surname" type="text"/>
              <ng-template #surnameErrorTpl>
                <div *ngFor="let errorMessage of surname['errorMessages']">
                  {{errorMessage}}<br/>
                </div>
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <!-- Username -->
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="username" nzRequired>Username</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="usernameErrorTpl">
              <input nz-input formControlName="username" id="username" type="text"/>
              <ng-template #usernameErrorTpl>
                <div *ngFor="let errorMessage of username['errorMessages']">
                  {{errorMessage}}<br/>
                </div>
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <!-- Email -->
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email" nzRequired>Email</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="emailErrorTpl">
              <input nz-input formControlName="email" id="email" type="email"/>
              <ng-template #emailErrorTpl>
                <div *ngFor="let errorMessage of email['errorMessages']">
                  {{errorMessage}}<br/>
                </div>
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <!-- Password -->
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Password</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="passwordErrorTpl">
              <input nz-input formControlName="password" id="password" type="password"/>
              <ng-template #passwordErrorTpl>
                <div *ngFor="let errorMessage of password['errorMessages']">
                  {{errorMessage}}<br/>
                </div>
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <!-- Confirm Password -->
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="confirm" nzRequired>Confirm Password</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="confirmErrorTpl">
              <input nz-input formControlName="confirm" id="confirm" type="password"/>
              <ng-template #confirmErrorTpl>
                <div *ngFor="let errorMessage of confirm['errorMessages']">
                  {{errorMessage}}<br/>
                </div>
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <!-- Register Button-->
          <nz-form-item style="margin-bottom:8px;">
            <nz-form-control [nzSpan]="14" [nzOffset]="6">
              <button nz-button nzType="primary" (click)="register()" [disabled]="!form.valid">Register</button>
              <button nz-button nzType="secondary" (click)="backToWelcome()">Cancel</button>
            </nz-form-control>
          </nz-form-item>

        </form>
      </nz-card>
    </div>
    <div nz-col nzXs="1" nzSm="2" nzMd="3" nzLg="5" nzXl="7"></div>
  </div>
</div>
