<div *ngIf="(brew$ | async) as brew">
  <nz-page-header>
    <nz-breadcrumb nz-page-header-breadcrumb>
      <nz-breadcrumb-item>
        Brews
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a>Edit Brew Session</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
    <nz-page-header-title>Brew Details</nz-page-header-title>
    <nz-page-header-extra>
      <button nz-button nzDanger  (click)="confirmDelete(brew)">Delete</button>
      <button nz-button (click)="save(brew)" [disabled]="!brewForm.dirty || !brewForm.valid || (saving | async)" [nzLoading]="saving | async">Save</button>
      <button nz-button nzType="primary" (click)="gotoBrews()">View Brews</button>
    </nz-page-header-extra>
  </nz-page-header>

  <div class="wrapper">
    <div nz-row>
      <div nz-col nzSpan="8" align="left">
        <h3>Brew Session for {{brew.recipeName}}</h3>
      </div>
      <div nz-col nzSpan="8" nzOffset="8" align="right">
        <nz-tag *ngIf="brewForm.dirty && brewForm.invalid" [nzColor]="'red'">
          <i nz-icon nzType="close-circle"></i>
          <span>The brew session has errors</span>
        </nz-tag>
      </div>
    </div>
    <form nz-form [formGroup]="brewForm" novalidate [nzLayout]="'vertical'">
      <nz-tabset [nzTabPosition]="'top'" [nzType]="'line'">
        <nz-tab [nzTitle]="'Brew Session'">
          <app-brew-session [parentForm]="brewForm"></app-brew-session>
        </nz-tab>
        <nz-tab [nzTitle]="'Notes'">
          <app-brew-notes [parentForm]="brewForm"></app-brew-notes>
        </nz-tab>
        <nz-tab [nzTitle]="'Measurements'">
          <app-brew-measurements
            [parentForm]="brewForm"
            (deleteMeasurementEvent)="deleteMeasurement($event)"
            (addMeasurementEvent)="addMeasurement()"
          >
          </app-brew-measurements>
        </nz-tab>
      </nz-tabset>
    </form>
  </div>
</div>

