<ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
  <div class="nav-logo">
    <img src="../assets/beer-cartoon.png" width="50" height="50" alt="">
    <span><h5 nz-title style="color: white;">Brew Log</h5></span>
  </div>
  <li nz-menu-item nz-tooltip nzPlacement="right" [nzTitle]="isCollapsed ? 'Dashboard' : ''" nzSelected>
    <i nz-icon nzType="home"></i>
    <span ><a style="color: white;" [routerLink]="['/main/dashboard']">Dashboard</a></span>
  </li>
  <li nz-submenu nzTitle="Recipes" nzIcon="book">
    <ul>
      <li nz-menu-item><a [routerLink]="['/main/recipes']">View Recipes</a></li>
      <li nz-menu-item><a [routerLink]="['/main/recipes/import']">Import Recipe</a></li>
    </ul>
  </li>
  <li nz-submenu nzTitle="Brews" nzIcon="experiment">
    <ul>
      <li nz-menu-item><a [routerLink]="['/main/brews/add']">New Brew</a></li>
      <li nz-menu-item><a [routerLink]="['/main/brews']">View Brews</a></li>
    </ul>
  </li>
</ul>
