<p-table
  [value]="recipes" [columns]="cols"
  emptymessage="No recipes found."  [paginator]="true"
  [rows]="10" [rowsPerPageOptions]="[10,20,30]"
  [first]="first" selectionMode="single"
  [(selection)]="selectedRecipes" data-key="name"
  (onRowSelect)="selectRecipe($event)"
  (onRowUnselect)="unselectRecipe($event)">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th class="recipes-checkbox">
        &nbsp;
      </th>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{ col.header }}
        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-recipe let-columns="columns">
    <tr>
      <td>
        <p-tableCheckbox [value]="recipe"></p-tableCheckbox>
      </td>
      <td *ngFor="let col of columns">
        {{ recipe[col.field] }}
      </td>
    </tr>
  </ng-template>
</p-table>
