<nz-table
  #recipeTable
  nzSize="small"
  [nzLoading]="loading"
  [nzBordered]="true"
  [nzShowPagination]="true"
  [nzData]="recipes"
  [nzLoadingIndicator]="spinner"
>
  <thead>
  <tr>
    <th></th>
    <th>Recipe Name</th>
    <th>Style</th>
    <th>Type</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let recipe of recipeTable.data">
    <td
      nzShowCheckbox
      [(nzChecked)]="mapOfCheckedId[recipe.id]"
      (nzCheckedChange)="check($event,recipe)"
    ></td>
    <td>{{ recipe.name }}</td>
    <td>{{ recipe.style }}</td>
    <td>{{ recipe.type }}</td>
  </tr>
  </tbody>
</nz-table>
<ng-template #spinner>
  <nz-spin nzSimple></nz-spin>
</ng-template>
