<nz-page-header>
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>
      Brews
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a>View Brews</a>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header-title>View Brews</nz-page-header-title>
  <nz-page-header-extra>
    <button nz-button nzType="default" nzDanger [disabled]="selections.length === 0" (click)="confirm()">Delete Selected</button>
    <button nz-button (click)="addBrew()">Add Brew</button>
    <button nz-button nzType="primary" (click)="refresh()">Refresh</button>
  </nz-page-header-extra>
</nz-page-header>

<div class="wrapper">
  <nz-table
    #brewsTable
    nzSize="small"
    [nzLoading]="loading"
    [nzBordered]="true"
    [nzShowPagination]="true"
    [nzData]="brews$ | async"
    [nzLoadingIndicator]="spinner"
  >
    <thead>
      <tr>
        <th
          nzShowCheckbox
          [(nzChecked)]="isAllDisplayDataChecked"
          [nzIndeterminate]="isIndeterminate"
          (nzCheckedChange)="checkAll($event,brewsTable.data)"
        ></th>
        <th>Recipe Name</th>
        <th>Brew Date</th>
        <th>Brewer</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let brew of brewsTable.data">
        <td
          nzShowCheckbox
          [(nzChecked)]="mapOfCheckedId[brew.id]"
          (nzCheckedChange)="check($event,brew)"
        ></td>
        <td><a role="link" (click)="editBrew(brew)">{{ brew.recipeName }}</a></td>
        <td>{{ brew.brewDate | date: 'dd/MM/yyyy' }}</td>
        <td>{{ brew.brewer?.givenName }} {{ brew.brewer?.surname }}</td>
      </tr>
    </tbody>
  </nz-table>
  <ng-template #spinner>
    <nz-spin nzSimple></nz-spin>
  </ng-template>
</div>
