<nz-card [nzBordered]="false" nzTitle="Login to Brew Log">
  <form nzForm [formGroup]="form" class="login-form" novalidate>
    <nz-form-item>
      <!-- Username -->
      <nz-form-control>
        <nz-input-group nzPrefixIcon="user">
          <input nz-input formControlName="username" [nzErrorTip]="usernameErrorTpl" id="username" type="text" placeholder="username"/>
        </nz-input-group>
        <ng-template #usernameErrorTpl>
          <div *ngFor="let errorMessage of username['errorMessages']">
            {{errorMessage}}<br/>
          </div>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <!-- Password -->
    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="lock">
          <input nz-input type="password" [nzErrorTip]="passwordErrorTpl" formControlName="password" placeholder="Password" />
        </nz-input-group>
        <ng-template #passwordErrorTpl>
          <div *ngFor="let errorMessage of password['errorMessages']">
            {{errorMessage}}<br/>
          </div>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <!-- Login/Register/Forgot -->
    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="remember">
          <span>Remember me</span>
        </label>
        <a class="login-form-forgot" class="login-form-forgot">Forgot password</a>
        <button nz-button class="login-form-button" [nzType]="'primary'" (click)="login()">Log in</button>
        Or
        <a (click)="register()">register now!</a>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>
